#all{
}

body{
	background-color: black;
}

.p2 {
	opacity:0;
	z-index: 10;
	position: absolute;
	bottom:0;
	right:0; 
	display: inline;
	width:48%;
	height:27.5%;
}

.p2:hover{
	opacity:1;
	cursor:pointer;cursor:hand;
}

#dialing{
	width:58.5%;
	position: absolute;
	bottom: 0;
	right: 0; 
	z-index: -1;
	display: inline;
		opacity:1;

}

#left{
position:relative;
float:left;
z-index: -1;
width: 12.5% ;
height:12.5%;
}

#right{
	z-index: -1;
	position:relative;
	float:right;
	width: 12.5% ;
	height:12.5%;
}

#floatl{
	position:relative;
	width: 16%;
	height:600px;
	float:left;
	z-index: 100;
	display: inline;
}

#floatr{
		position:relative;
	width: 16%;
	height:600px;
	float:right;
	z-index: 20;
	display: inline;
}

#floatl:hover{
	cursor:help;
}

#floatr:hover{
	cursor:help;
}

#pre{
	width:68%;
	height: 100%;
	z-index: 3;
	opacity: 1;
	position:absolute;
	top:0;
	display: inline;
}

#main{
	width:68%;
	height: 99.6%;
	z-index: -3;
	position:absolute;
	top:13px;
	display: inline;
	opacity: 1;
}

#main:hover{
	cursor:default;
}

#buttwrap{
	position:absolute;
	top:0;
	left:0;
	width:66.5%;
	height:92%;
}

#sd{
	width:71.5%;
	height:84.1%;
	position: absolute;
	top:0;
	left:0;
}

#drawspace{position:absolute;
top: 0;
left: 0;
height: 70.7%;
width:65.7%;
border:2px dotted transparent;}

#draw{position:absolute;
bottom: 0;
right: 0;
height: 58%;
width:46.2%;
border:2px dotted blue;
border-radius: 15px;}

#draw:hover{
	cursor:not-allowed;
}
